/* Custom page header */
body {
  background-color: #333;
  color: white;
}

.header {
  border-bottom: 1px solid #777;
  margin-bottom: 25px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #777;
}

div {
  margin-bottom: 5px;
}

input {
  color: #333;
  margin-left: 5px;
}

.glyphicon {
  color: #d80000;
}

.percent {
  padding: 2px 4px;
  background-color: #00d81b;
  border-radius: 8px;
}