<h1 class="header">{{coins.title}}</h1>
<div class="container">

  <div class="row">
    <div class="col-md-5">
      <span>Current price of coins to buy/sell: </span>
    </div>
    <div class="col-md-4">
      $<input type="text" ng-model="coins.currentCoin" ng-change="coins.calcEquivOrder(); coins.calcEquivPrice(); coins.calcPerc();" onClick="this.setSelectionRange(0, this.value.length)">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <span>Current price of coins to exchange to: </span>
    </div>
    <div class="col-md-4">
      $<input type="text" ng-model="coins.exchangeCoin" ng-change="coins.calcEquivOrder(); coins.calcEquivPrice();" onClick="this.setSelectionRange(0, this.value.length)">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <span>Equivalent Price: </span>
    </div>
    <div class="col-md-4" ng-if="coins.equivPrice >= 0">
      <span>$ {{coins.equivPrice}} is equal to ${{coins.currentCoin}}</span>
    </div>
  </div>

  <div class="row">
    <p></p>
  </div>

  <div class="row">
    <div class="col-md-5">
      <span>Price to Buy/Sell: </span>
    </div>
    <div class="col-md-4">
      $<input type="text" ng-model="coins.limitOrder" ng-change="coins.calcEquivOrder(); coins.calcPerc();" onClick="this.setSelectionRange(0, this.value.length)">
      <span class="percent" ng-if="coins.percentage > 0">+{{coins.percentage}}%</span>

    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <span>Equivalent Order: </span>
    </div>
    <div class="col-md-4" ng-if="coins.equivOrder > 0">
      <span>$ {{coins.equivOrder}}</span>
    </div>

  </div>
</div>
